* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-100: #0D0E11;
  --gray-200: #16181D;
  --gray-300: #292C34;
  --gray-400: #878EA1;
  --gray-500: #C0C4CE;
  --gray-600: #E2E4E9;


  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;

  --ff-base: "Maven Pro", serif;
  --ff-titles: "Asap", serif;
  --ff-subtitle: "Inconsolata", serif;

  --text-title-sm: 700 1rem/1.2 var(--ff-titles);
  --text-title-md: 700 1.5rem/1.2 var(--ff-titles);
  --text-title-lg: 700 3.5rem/1.2 var(--ff-titles);

  --text-subtitle: 400 1.25rem/1.2 var(--ff-subtitle);


  --text-base-sm: 400 0.875rem/1.4 var(--ff-base);
  --text-base-md: 400 1rem/1.4 var(--ff-base);
}


span {
  color: var(--red);
  font: var(--text-subtitle);
}

h2 {
  font: var(--text-title-md);
  color: var(--gray-600);
  margin-top: 8px;
}